%span.control
  != link_to '', edit_page_comp_path(control.page.id, control), :class => 'icon edit', :title => 'Bearbeiten'
  != link_to '', page_comp_path(control.page.id, control), :confirm => "Are you sure?", :method => :delete, :class => 'icon delete', :title => 'Loeschen'
  != link_to '', up_page_comp_path(control.page.id, control), :method => :put, :class => 'icon up', :title => 'Nach ober verschieben'
  != link_to '', down_page_comp_path(control.page.id, control), :method => :put, :class => 'icon down', :title => 'Nach unten verschieben'
  - control.allowed_children_comps.each do |comp_type|
    = link_to '', new_page_comp_comp_path(comp.page.id, comp, :type => comp_type), :class => 'policon '+comp_type