.text_field.clearfix
  %label Inhalt
  - if pol_cfg.multilang?
    - form_content.fields_for :globalize_translations do |trans|
      .translation
        - if 1 < pol_cfg.languages.length
          != trans.label :content, "Sprache: #{trans.object.locale}"
        != trans.hidden_field :locale
        != trans.text_area :content
  - else
    != form_content.text_area :content
