- field_set_tag "Download Komponente" do
  .text_field
    %label Datei-Titel
    != form_file.text_field :content
    %br/
  .file_field
    != render :partial => 'comps/form_common', :object => form_file
    != form_file.label :media, 'Datei zum Download (z.B. PDF)'
    != form_file.file_field :media
  != render :partial => 'comps/form_buttons', :object => form_file
