- field_set_tag "Bildkomponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_image
  .file_field
    != form_image.label :media, 'Bilddatei (jpg oder png)'
    != form_image.file_field :media
    - if (form_image.object.media.file? && !form_image.object.media.dirty?)
      %br
      != image_tag form_image.object.media.url(form_image.object.style_class)
  .text_field
    != form_image.label :content, 'Legende zum Bild (kann formatiert werden)'
    != form_image.text_area :content
  .buttons
    != form_image.submit('Save')
