- field_set_tag "Bildkomponente bearbeiten" do
  != render :partial => 'comps/form_common', :object => form_image
  .file_field
    != form_image.label :media, 'Bilddatei (jpg oder png)'
    != form_image.file_field :media
    - if (form_image.object.media.file? && !form_image.object.media.dirty?)
      %br
      != image_tag form_image.object.media.url(form_image.object.style_class)
  != render :partial => 'comps/form_content', :object => form_image
  != render :partial => 'comps/form_buttons', :object => form_image
