.gallery-view
  - images = gallery.children
  - images.each_index do |index|
    - image = images[index]
    - display = (index == 0 ? 'block' : 'none')
    .gallery-view-text{ :id => "gallery-view-text-#{index}", :style => "display: #{display};" }
      - prev_index = (index == 0 ? images.length - 1 : index - 1)
      - next_index = (index == images.length - 1 ? 0 : index + 1)
      %span.gallery-view-prev
        %a{ :href => '#', :onclick => "return galleryShowEntry(#{prev_index});"}
          <
      %span
        &nbsp;
        != textilize_without_paragraph image.content
      %span.gallery-view-next
        %a{ :href => '#', :onclick => "return galleryShowEntry(#{next_index});"}
          >
    .gallery-view-image{ :id => "gallery-view-image-#{index}", :style => "display: #{display};" }
      - if require_controls?
        != render_controls(image)
      - path = image.media.url('left-box')
      != image_tag path