- form_remote_tag(:url => "/#{mailer.id}", :html => { } ) do
  %fieldset
    .holder.clearfix
      != label_tag('name')
      != text_field_tag('name', params[:email], :class => 'text lv presence')
    .holder.clearfix
      != label_tag('vorname')
      != text_field_tag('vorname', params[:email], :class => 'text')
    .holder.clearfix
      != label_tag('telefonnummer')
      != text_field_tag('telefonnummer', params[:email], :class => 'text' )
    .holder.clearfix
      != label_tag('email')
      != text_field_tag('email', params[:email], :class => 'text lv presence email' )
    .holder.clearfix
      != label_tag('kommentar')
      != text_area_tag('kommentar', nil, :rows => 7)
    %input.btn-reset(type="reset" value="l&ouml;schen")
    %input.btn-submit(type="submit" value="senden")
