-form_for [@page.parent, @page], :html => { :multipart => true }  do |f|
  - field_set_tag "Seiten Eigenschaften" do
    .text_field.clearfix
      %label Navigationstitel
      -if pol_cfg.multilang?
        - f.fields_for :globalize_translations do |trans|
          - if pol_cfg.languages.include?(trans.object.locale.to_s)
            .translation
              != trans.label :title, "Sprache: #{trans.object.locale}"
              != trans.hidden_field :locale
              != trans.text_field :title
      -else
        != f.text_field :title
    .text_field
      != f.label :parent_id, 'Eltern Knote'
      != f.select :parent_id, options_for_select(parent_pages, @page.parent_id)
    .text_field
      != f.label :permalink, 'Permalink (wird automatisch generiert wenn leer)'
      != f.text_field :permalink
    .file_field
      != f.label :icon, 'Ikone fuer Menu'
      != f.file_field :icon
      - if @page.icon.file?
        != image_tag @page.icon.url
    .buttons
      != f.submit('Speichern')

-form_for @page, :html => { :method => :delete, :id => 'delete_page' }  do |f|
  - field_set_tag "Seite loeschen" do
    != f.submit 'Seite loeschen', :confirm => 'Dies loescht die Seite und alle ihre Unterseiten. Weiterfahren?', :id => 'delete_page_submit'

