-form_for [@page.parent, @page], :html => { :multipart => true }  do |f|
  - field_set_tag "Seiten Eigenschaften" do
    .text_field.page_title.clearfix
      %label Navigationstitel
      -if pol_cfg.multilang?
        - f.fields_for :globalize_translations do |trans|
          - if pol_cfg.languages.include?(trans.object.locale.to_s)
            .translation
              != trans.label :title, "Sprache: #{trans.object.locale}"
              != trans.hidden_field :locale
              != trans.text_field :title
      -else
        != f.text_field :title
    - if parent_pages(@page).any?
      .text_field.page_parent
        != f.label :parent_id, 'Eltern Knote'
        != f.select :parent_id, options_for_select(parent_pages(@page), @page.parent_id)
    .text_field.page_permalink
      != f.label :permalink, 'Permalink (wird automatisch generiert wenn leer)'
      != f.text_field :permalink
    .file_field.page_icon
      != f.label :icon, 'Ikone fuer Menu'
      != f.file_field :icon
      - if @page.icon.file?
        != image_tag @page.icon.url
    - pol_cfg.page_attributes.each do |attribute, values|
      .file_field= dynamic_field f, attribute, values
    .buttons
      != f.submit('Speichern')

- unless @page.new_record?
  -form_for @page, :html => { :method => :delete, :id => 'delete_page' }  do |f|
    - field_set_tag "Seite loeschen" do
      != f.submit 'Seite loeschen', :confirm => 'Dies loescht die Seite und alle ihre Unterseiten. Weiterfahren?', :id => 'delete_page_submit'

