-form_for [@page.parent, @page], :html => { :multipart => true }  do |f|
  - field_set_tag "Seiten Eigenschaften" do
    .text_field
      != f.label :title, 'Navigationstitel'
      != f.text_field :title
    .text_field
      != f.label :permalink, 'Permalink (wird automatisch generiert wenn leer)'
      != f.text_field :permalink
    .file_field
      != f.label :icon, 'Ikone fuer Menu'
      != f.file_field :icon
      - if @page.icon.file?
        != image_tag @page.icon.url
    .buttons
      != f.submit('Speichern')

-form_for @page, :html => { :method => :delete }  do |f|
  - field_set_tag "Seite loeschen" do
    != f.submit 'Seite loeschen', :confirm => 'Dies loescht die Seite und alle ihre Unterseiten. Weiterfahren?'

