%h2= "Seite #{@page.title} bearbeiten"

#page_control
  %a.control-tab{ :id => 'page_control_tab_attribute', :href => '#', :onclick => "return edit_page_attribute();" }
    Seitenattribute
  %a.control-tab-active{ :id => 'page_control_tab_content', :href => '#', :onclick => "return edit_page_content();" }
    Seiteninhalte

#page_form{ :style => 'display: none;' }
  != render :partial => 'pages/form'


#page_content{ :style => '' }
  %hr

  != render :partial => 'pol/comps'

  %hr

  %fieldset
    %legend Neuer Inhalt hinzufuegen
    -pol_cfg.comp_locations.each do |style_class|
      .new_comp_links
        %p=t(style_class, :scope => :pol)
        %ul
          -pol_cfg.comp_available[style_class].each do |comp_name|
            %li
              != link_to t('activerecord.models.'+comp_name.underscore), new_page_comp_url(@page, :type => comp_name, :style_class => style_class )




