%h2= "Seite #{@page.title} bearbeiten"

#page_control
  %a.control-tab{ :id => 'page_control_tab_attribute', :href => '#', :onclick => "return edit_page_attribute();" }
    Seitenattribute
  %a.control-tab-active{ :id => 'page_control_tab_content', :href => '#', :onclick => "return edit_page_content();" }
    Seiteninhalte

#page_form{ :style => 'display: none;' }
  != render :partial => 'pages/form'


#page_content{ :style => '' }
  %hr

  != render :partial => 'pol/comps'

  %hr

  != render :partial => 'new_comp_links'



