!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => I18n.locale, :lang => I18n.locale}
  %head
    != render :partial => 'layouts/html_head'

  %body{ :class => body_style }
    #container
      #header
        .holder
          %ul
            %li!= link_to 'Home', '/'
            -@root.siblings.each do |o|
              %li!=page_link o
          %ul.breadcrumbs
            - @page.ancestors.reverse.each do |a|
              %li
                != permalink a.title.titleize, a
                &gt;
            %li= @page.title.titleize
        .main
          != render :partial => 'layouts/menu_holder'

      #content-area
        .content
          - unless @icon_nav.blank?
            .foto-box
              .foto-holder
                %p
                  %strong= @page.ancestors_and_self[3].help
                %ul
                  - @icon_nav.each do |i|
                    %li!
                      %a{ :href => "/#{i.permalink}" }
                        != image_tag(i.icon.url)
                        %em= i.title
          - unless @subpage_nav.blank?
            - content_for :subpages_nav, render_subpage_nav(@subpage_nav)

          != yield

    != render :partial => 'layouts/ga' unless pol_cfg.ga_api_key.blank?
