!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => I18n.locale, :lang => I18n.locale}
  %head
    != render :partial => 'layouts/html_head'
    != stylesheet_link_tag 'pol_backend' 

  %body.trans{ :style => 'background-image: none' }
    #backend
      #backend-header
        %h1 
          POL Content Management System
        %fieldset.nav.clearfix
          %legend Seitenauswahl
          != render_nav(@page)
      #backend-content-area
        != flash[:notice]
        != flash[:error]
        != yield
