!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => I18n.locale, :lang => I18n.locale}
  %head
    != render :partial => 'layouts/html_head'
    != stylesheet_link_tag 'application' 
    != stylesheet_link_tag 'semantic_forms' 

  %body.trans{ :style => 'background-image: none' }
    #container
      #header
        %h1 
          /!= image_tag('logo.png')
          POL Content Management System
        .nav
          != render_nav(@page)
      #content-area
        .content
          != flash[:notice]
          != flash[:error]
          != yield
